body {
  margin: 0;
  padding: 0;

  font-family: monospace;
}

.game-over {
  width: 50vw;
  height: 90vh;

  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dino,
.cactus {
  width: 60px;
  height: 60px;

  bottom: 0;
  position: absolute;
}

.cactus {
  display: none;
  background-image: url(./assets/cactus.png);
}

.dino {
  background-image: url(./assets/dino.png);

  bottom: 0;
  position: absolute;
}
