<main class="p-4">
  <section class="d-flex justify-content-end">
    <app-button label="adicionar usuário"></app-button>
  </section>
  <section class="mt-4">
    <table class="table">
      <thead>
        <tr class="border bg-light">
          <th class="select">
            <input type="checkbox" />
          </th>
          <th>user details</th>
          <th>role</th>
          <th>departament</th>
          <th class="actions"></th>
        </tr>
      </thead>
      <tbody class="border-0">
        <tr *ngFor="let user of users">
          <td class="align-middle"><input type="checkbox" /></td>
          <td class="align-middle"></td>
          <td class="align-middle">{{ user.role }}</td>
          <td class="align-middle">{{ user.departament }}</td>
          <td>
            <div
              style="min-height: 90px"
              class="d-flex justify-content-between align-items-center flex-column"
            >
              <app-button label="editar"></app-button>
              <app-button label="remover" color="btn-danger"></app-button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</main>
